body {
    font-family:'Microsoft YaHei'
}

/*分页插件*/
.pager a {
    text-decoration: none;
    border: 1px solid #e7ecf0;
    color: #15B;
}

.pager a:hover {
    background-color: #E6EBEF;
}

.pager a, .pager span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
    margin-bottom: 5px;
}
/*页码选中样式*/
.pager .selectno {
    background: #26B;
    color: #fff;
    border: 1px solid #AAE;
}
/*输入框样式*/
.pager .numinput{ width: 50px;}
/*输入框右侧按钮样式*/
.pager .numbutton{margin: 0 5px}